<%= stylesheet_link_tag('sections')%>

<section class='section-container'>
 <div class="section-main-data-container">
    <h1 class="section-main-title">Welcome</h1>
    <h1 class="section-main-title" style="color: rgb(255, 51, 51);">To My Store</h1>
    <p  style="margin-top:1rem;">Ilustrations and Animations</p>
    <div class="section-main-button-container">
      <button class= "section-main-button" style="background-color: rgb(255, 204, 204); color: rgb(153, 0, 0);">
        Draw me
      </button>
      <button class= "section-main-button" style="background-color: rgb(255, 103, 102); color: rgb(153, 0, 0);">
        Join us
      </button>
    </div>
  </div>
  <div class="section-main-image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJdLEQoJtdVeTapiL3gdTq633xUxjJNjUxdA&s" alt="img" class="section-main-image"/>
  </div>
</section>
<div class="section-interlude">
  <p style="margin-top:1rem;">"Every stroke is a step toward your own story; let your creativity shine on the canvas of the world."</p>
  <h2>-Nimrod Acosta</h2>
</div>
