<%= stylesheet_link_tag('sections')%>
<section class='section-container'>
  <div class="section-main-data-container">
    <h1 class="section-main-title">Se침ora Garabato</h1>
    <p style="margin-bottom: 2rem ;">Ilustraci칩n | Dise침o de personajes | Animaci칩n</p>
    <%= link_to 'Entrar', content_path, class: 'section-main-button' %>
  </div>
  <div class="section-main-image-container">
    <img class= 'section-main-image ' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/MainImagge.PNG' alt='mainImage'/>
  </div>
</section>
