<%= stylesheet_link_tag('sections')%>

<section class='section-container'>
 <div class="section-main-data-container">
    <button class= "section-main-button" style="background-color: rgb(255, 103, 102); color: rgb(153, 0, 0);">
      Draw Me
    </button>
    <h1 class="section-main-title">Se침ora Garabato</h1>
    <p style="margin-bottom: 2rem ;">Ilustraci칩n | Dise침o de personajes | Animaci칩n</p>
    <a
      href="https://www.instagram.com/senora_garabato/"
      target='_blank'
      rel='noreferrer'
      class= "section-main-button"
      style="background-color: rgb(255, 103, 102); color: rgb(153, 0, 0);">
      Instargram
    </a>
  </div>
  <div>
    <img src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='img'/>
    </div>
</section>
<div class="section-interlude">
  <p style="margin-top:1rem;">"Every stroke is a step toward your own story; let your creativity shine on the canvas of the world."</p>
  <h2>-Nimrod Acosta</h2>
</div>
