<%= stylesheet_link_tag('sections')%>
<a href=<%= root_path %>
class='nav-button-style'>
    <img class='section-main-nav-img' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage'/>
    <div>
      <p>Señora</p>
      <p>Garabato</p>
    </div>
</a>

<section class='section-container'>
  <div class="section-main-data-container">
    <a
      href=<%= store_path %>
      class= "section-main-link" >
      <img class= 'section-main-button-img' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/pencil.PNG' alt='mainImage'/>
      Draw Me
    </a>
    <h1 class="section-main-title">Señora Garabato</h1>
    <p style="margin-bottom: 2rem ;">Ilustración | Diseño de personajes | Animación</p>
    <a
      href="https://www.instagram.com/senora_garabato/"
      target='_blank'
      rel='noreferrer'
      class= "section-main-link">
      <img class= 'section-main-button-img' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/insta.PNG' alt='mainImage'/>
      Instagram
    </a>
  </div>
  <div class="section-main-data-container">
    <img class= 'section-main-image ' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage'/>
  </div>
</section>
<div class="section-interlude">
  <p style="margin-top:1rem;">"Every stroke is a step toward your own story; let your creativity shine on the canvas of the world."</p>
  <h2>-Nimrod Acosta</h2>
</div>
<section class='portfolio-container-secction'>
  <div class="portfolio-container">
    <img src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/PortfolioImg.JPG' alt='mainImage' style="width: 100%"/>
    <div class="portfolio-container-text-continer">
      <h1 class="portfolio-container-title">Mi portafolio</h1>
      <p class="portfolio-container-text">Ilustraciones | Retratos | Animaciones</p>
    </div>
  </div>
  <div>
    <img src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage' style="width: 20ren; height: 15rem"/>
    <img src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage' style="width: 20ren; height: 15rem"/>
    <img src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage' style="width: 20ren; height: 15rem"/>
  </div>
</section>

<section>
  <div>
    <img src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage' style="width: 20ren; height: 15rem"/>
    <h1>Sigueme en Kofee</h1>
  </div>
  <a
  href="https://www.instagram.com/senora_garabato/"
  target='_blank'
  rel='noreferrer'
  class= "section-main-link">
    <img class= 'section-main-button-img' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/insta.PNG' alt='mainImage'/>
    Sigueme en instagram
  </a>
</section>
