<%= stylesheet_link_tag('sections')%>
<a href=<%= root_path %>
class='nav-button-style'>
    <img class='section-main-nav-img' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage'/>
    <div>
      <p>Señora</p>
      <p>Garabato</p>
    </div>
</a>
<h1>Tienda</h1>
<section class='section-container'>
  <div class="section-main-data-container">
    <img class= 'section-main-image ' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage'/>
    Retratos
  </div>
  <div class="section-main-data-container">
    <img class= 'section-main-image ' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage'/>
    Ilustraciones
  </div>
  <div class="section-main-data-container">
    <img class= 'section-main-image ' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage'/>
    Animaciones
  </div>
</section>
